.App {
  text-align: center;
  background-color: #CEDAD8;
  height: 100vh;
  
}
.wrapper{
border: 1px solid red;
width: 800px;
margin: 0 auto;
}

.questions{
width: 80%;
background-color: rgb(27, 140, 129);
border-radius: 10px;
margin: 50px auto 0px;
height: 50px;
padding: 10px 20px 0px;
color: white;
font-weight: bolder;

}

.optionContainer{
display: flex;
width: 80%;
margin: 15px auto;
justify-content: space-evenly;
}

.buttonDiv{
display: flex;
justify-content: space-between;
width: 80%;
margin: auto;
}

button{
  border-radius: 5px;
  border:none;
  font-weight: bolder;
}
button:hover{
  cursor: pointer;
}
